# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=weather_server
DATABASE_URL=postgresql+psycopg://postgres:your_password@localhost:5432/weather_server

# Auth
ADMIN_KEY=eb1d7a52-d4a1-2312-9045-68ae7a493bd7
USER_TOKEN=cb1d3a52-d4a1-1234-8045-75ae7a493bd7

# Server
SECRET_KEY=dev-secret-key
FLASK_APP=app.main
FLASK_ENV=development

# Server mode (realtime, history)
MODE=realtime/history